<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro de Paciente - Hemoglobina</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <link rel="stylesheet" href="../public/css/registro.css">
</head>

<body>

  <div class="card">
    <div class="header-title">
      <h1>Sistema de Análisis</h1>
      <p>Registro de Nuevo Usuario</p>
    </div>

    <form id="formRegistro">
      <div class="form-group">
        <label for="nombre">Nombre(s)</label>
        <input type="text" id="nombre" name="nombre" required placeholder="Ej. Carlos">
      </div>

      <div class="row-2">
        <div class="form-group">
          <label for="apellido_paterno">Apellido Paterno</label>
          <input type="text" id="apellido_paterno" name="apellido_paterno" required placeholder="Ej. Pérez">
        </div>
        <div class="form-group">
          <label for="apellido_materno">Apellido Materno</label>
          <input type="text" id="apellido_materno" name="apellido_materno" required placeholder="Ej. Gómez">
        </div>
      </div>

      <div class="row-2">
        <div class="form-group">
          <label>Género biológico</label>
          <div class="radio-group">
            <label class="radio-option">
              <input type="radio" name="genero" value="Masculino" checked> Hombre
            </label>
            <label class="radio-option">
              <input type="radio" name="genero" value="Femenino"> Mujer
            </label>
          </div>
        </div>
        <div class="form-group">
          <label for="fecha_nacimiento">Fecha de Nacimiento</label>
          <input type="date" id="fecha_nacimiento" name="fecha_nacimiento" required>
        </div>
      </div>

      <div class="row-2">
        <div class="form-group">
          <label for="departamento">Departamento</label>
          <select id="departamento" name="departamento" onchange="cargarProvincias()" required>
            <option value="" disabled selected>Cargando departamentos...</option>
          </select>
        </div>

        <div class="form-group">
          <label for="provincia">Provincia</label>
          <select id="provincia" name="provincia" onchange="actualizarAltitud()" required>
            <option value="" disabled selected>Seleccione depto primero</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label for="altitud">Altitud (m.s.n.m.)</label>
        <input type="number" id="altitud" name="altitud" placeholder="Ej. 3600" required>
        <span class="helper-text">Modificable según la localidad exacta.</span>
      </div>

      <div class="form-group">
        <label for="correo">Correo Electrónico</label>
        <input type="email" id="correo" name="correo" required placeholder="ejemplo@correo.com">
      </div>

      <div class="form-group">
        <label for="password">Contraseña</label>
        <input type="password" id="password" name="password" required placeholder="••••••••">
      </div>

      <div class="form-group">
        <label for="rol">Rol en el Sistema</label>
        <select id="rol" name="rol" required onchange="Selector()">
          <option value="" disabled selected>Seleccione el Rol</option>
          <option value="Paciente">Paciente</option>
          <option value="Medico">Médico</option>
        </select>
      </div>

      <div id="contenedorTipoSangre" class="form-group" style="display: none; margin-top: 16px;">
        <label for="Tipo_Sangre">Departamento</label>
        <select id="Tipo_Sangre" name="Tipo_Sangre" required>
          <option value="" disabled selected>Seleccione su tipo de sangre</option>
          <optgroup label="Grupo O">
            <option value="O+">O Positivo (O+)</option>
            <option value="O-">O Negativo (O-)</option>
          </optgroup>
          <optgroup label="Grupo A">
            <option value="A+">A Positivo (A+)</option>
            <option value="A-">A Negativo (A-)</option>
          </optgroup>
          <optgroup label="Grupo B">
            <option value="B+">B Positivo (B+)</option>
            <option value="B-">B Negativo (B-)</option>
          </optgroup>
          <optgroup label="Grupo AB">
            <option value="AB+">AB Positivo (AB+)</option>
            <option value="AB-">AB Negativo (AB-)</option>
          </optgroup>
          <option value="Desconocido">No sabe</option>
        </select>
      </div>

      <!-- Contenedor Oculto de Especialidades (Solo se activa si el Rol es Medico) -->
      <div id="contenedorEspecialidad" class="form-group" style="display: none; margin-top: 16px;">
        <label for="especialidad">Especialidad Médica</label>
        <select id="especialidad" name="especialidad">
          <option value="" disabled selected>Seleccione especialidad</option>
        </select>
      </div>

      <button type="submit" class="btn-submit">Registrar Usuario</button>
    </form>
    <hr>
    <a class="btn btn-primary" href="../index.html">Iniciar Sesión</a>
  </div>
  <script src="../public/js/config.js"></script>
  <script>
    // 1. Cargar Departamentos automáticamente desde MySQL al abrir la página
    document.addEventListener("DOMContentLoaded", async () => {
      const selectDepto = document.getElementById('departamento');
      try {
        const respuesta = await fetch(`${API_URL}geografia/departamentos`);
        if (respuesta.ok) {
          const departamentos = await respuesta.json();
          console.log(departamentos);
          selectDepto.innerHTML = '<option value="" disabled selected>Seleccione departamento</option>';
          departamentos.forEach(d => {
            let option = document.createElement('option');
            option.value = d.idDepartamento;
            option.textContent = d.nombre;
            selectDepto.appendChild(option);
          });
        }
      } catch (error) {
        console.error("Error al cargar departamentos:", error);
      }
    });

    // 2. Cargar Provincias/Ciudades dinámicamente filtradas por el departamento
    async function cargarProvincias() {
      const idDepto = document.getElementById('departamento').value;
      const selectProvincia = document.getElementById('provincia');
      const inputAltitud = document.getElementById('altitud');

      selectProvincia.innerHTML = '<option value="" disabled selected>Seleccione provincia</option>';
      inputAltitud.value = '';

      if (!idDepto) return;

      try {
        const respuesta = await fetch(`${API_URL}geografia/provincias/${idDepto}`);
        if (respuesta.ok) {
          const provincias = await respuesta.json();
          provincias.forEach(p => {
            let option = document.createElement('option');
            option.value = p.idCiudad;
            option.textContent = p.nombre;
            option.setAttribute('data-altitud', p.altitud);
            selectProvincia.appendChild(option);
          });
        }
      } catch (error) {
        console.error("Error al obtener las provincias:", error);
      }
    }

    // 3. Evaluar Rol de manera dinámica
    async function Selector() {
      const rolSeleccionado = document.getElementById("rol").value;
      
      // Selectores de Especialidad
      const contenedorEsp = document.getElementById("contenedorEspecialidad");
      const selectEsp = document.getElementById("especialidad");
      
      // Selectores de Tipo de Sangre
      const contenedorSangre = document.getElementById("contenedorTipoSangre");
      const selectSangre = document.getElementById("Tipo_Sangre");

      // Limpieza por defecto (Ocultar ambos y quitar la obligatoriedad)
      contenedorEsp.style.display = "none";
      selectEsp.removeAttribute("required");
      selectEsp.innerHTML = '<option value="" disabled selected>Seleccione especialidad</option>';

      contenedorSangre.style.display = "none";
      selectSangre.removeAttribute("required");
      selectSangre.value = ""; // Resetea la selección de sangre

      // Lógica según el Rol seleccionado
      if (rolSeleccionado === "Medico") {
        contenedorEsp.style.display = "block";
        selectEsp.setAttribute("required", "required");

        try {
          const respuestaesp = await fetch(`${API_URL}Especialidades`);
          if (respuestaesp.ok) {
            const especialidades = await respuestaesp.json();
            especialidades.forEach(e => {
              let option = document.createElement('option');
              option.value = e.idEspecialidad;
              option.textContent = e.nombre;
              selectEsp.appendChild(option);
            });
          }
        } catch (error) {
          console.error("Error al cargar especialidades:", error);
        }
      } else if (rolSeleccionado === "Paciente") {
        contenedorSangre.style.display = "block";
        selectSangre.setAttribute("required", "required"); // Se vuelve obligatorio si es Paciente
      }
    }

    // 4. Asignar la altitud promedio calculada de la provincia seleccionada
    function actualizarAltitud() {
      const selectProvincia = document.getElementById('provincia');
      const optionSeleccionada = selectProvincia.options[selectProvincia.selectedIndex];
      const inputAltitud = document.getElementById('altitud');

      if (optionSeleccionada && optionSeleccionada.value) {
        const altitud = optionSeleccionada.getAttribute('data-altitud');
        inputAltitud.value = altitud || 0;
      } else {
        inputAltitud.value = '';
      }
    }

    // 5. Envío estructurado del JSON final discriminando el rol hacia la API
    document.getElementById('formRegistro').addEventListener('submit', async function (e) {
      e.preventDefault();

      const selectDepto = document.getElementById('departamento');
      const selectProv = document.getElementById('provincia');
      const selectEsp = document.getElementById('especialidad');
      const rolSeleccionado = document.getElementById('rol').value;

      const dataUsuario = {
        nombre: document.getElementById('nombre').value,
        apellidoPaterno: document.getElementById('apellido_paterno').value,
        apellidoMaterno: document.getElementById('apellido_materno').value,
        genero: document.querySelector('input[name="genero"]:checked').value,
        fechaNacimiento: document.getElementById('fecha_nacimiento').value,
        departamento: selectDepto.options[selectDepto.selectedIndex].text,
        provincia: selectProv.options[selectProv.selectedIndex].text,
        altitud: parseFloat(document.getElementById('altitud').value),
        correo: document.getElementById('correo').value,
        password: document.getElementById('password').value,
        rol: rolSeleccionado,

        tipo_sangre: rolSeleccionado === "Paciente" ? document.getElementById("Tipo_Sangre").value : null,
        // Si el rol es médico introduce el entero de la especialidad, sino manda un nulo plano
        idEspecialidad: rolSeleccionado === "Medico" ? parseInt(selectEsp.value) : 0,
      };

      try {
        const respuesta = await fetch(`${API_URL}Registro/usuario`, {
          method: "POST",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify(dataUsuario)
        });

        const resultado = await respuesta.json();
        if (respuesta.ok) {
          alert(resultado.mensaje);
          window.location.href = "../index.html";
        } else {
          alert(resultado.mensaje || "Ocurrió un inconveniente al registrar.");
        }
      } catch (error) {
        alert("No se pudo conectar con el servidor de la API.");
        console.error(error);
      }
    });
  </script>

</body>

</html>